h1 {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  text-align: center;
  font-size: smaller;
  line-height: 8px;
}
.weather-app-wrapper {
  max-width: 1000px;
  margin: 15px auto;
}
.weather-app {
  border: 1px solid;
  border-radius: 10px;
  display: block;
  padding: 0 15px 15px;
}
.col-8 {
  text-align: center;
}
.weather-temperature .active {
  color: #000000;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#description::first-letter {
  text-transform: capitalize;
}
